@font-face {
	font-family: 'QuentinEF';
	src: url('../fonts/QuentinEF.eot');
	src: local('☺'), url('../fonts/QuentinEF.woff') format('woff'), url('../fonts/QuentinEF.ttf') format('truetype'), url('../fonts/QuentinEF.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'futurabc';
	src: url('../fonts/FUTURABC.eot');
	src: local('☺'), url('../fonts/futurabc.woff') format('woff'), url('../fonts/futurabc.ttf') format('truetype'), url('../fonts/futurabc.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'futura-book';
	src: url('../fonts/futura-book.eot');
	src: local('☺'), url('../fonts/futura-book.woff') format('woff'), url('../fonts/futura-book.ttf') format('truetype'), url('../fonts/futura-book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body,
button,
input,
select,
textarea,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'futura-book', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'futurabc', serif;
	text-transform: uppercase;
}


.site-branding,
.site-title {
	font-family: 'QuentinEF', serif;
	font-weight: 400 !important;
}

.thac0-table {
	float: none;
	width: 100%;
}

.thac0-table th {
	border: 1px solid #000;
	background-color: #eee;
	text-align: center;
}

.thac0-table td {
	border: 1px solid #000;
	text-align: center;
}

.clear {
	clear: both;
	display: block;
	height: 0;
}

@media screen and ( min-width: 45em ) {
	.thac0-table {
		float: left;
		width: 50%;
	}

	.thac0-table-right th:first-child,
	.thac0-table-right td:first-child {
		border-left: 0 none;
	}
}

.thac0-tableL {
	clear: both;
}

.field-label {
	text-transform: uppercase;
}

.field-value {
	font-style: italic;
	text-transform: capitalize;
}

.post-edit-link {
	display: none;
}

.weapon-details {
	margin-bottom: 2em;
}

.weapon-name {
	font-weight: 700;
	margin-bottom: .5em;
	text-transform: uppercase;
	font-family: 'futurabc';
	font-size: 1.1em;
}

.thac0-key-table {
	display: none;
}

.thac0-key-table td {
	border: 1px solid #000;
	text-align: center;
	padding: 0 1em;

}

.thac0-table-left {
	clear: both;
}

.thac0-key-table td:nth-child(1) {
	border: 0 none;
}

.thac0-key-table td:nth-child(2) {
	background-color: #eee;
}

.weapon-roll-table h3 {
	font-size: 1.1em;
	margin: 0;
}

@media screen and ( min-width: 45em ) {
	.weapon-roll-table h3 {
		float: left;
		margin: 0;
	}

	.thac0-key-table {
		display: table;
		width: initial;
		font-size: .8em;
		margin-top: 0;
		float: right;
	}
}
