@font-face {
	font-family: 'QuentinEF';
	src: url('../fonts/QuentinEF.eot');
	src: local('☺'), url('../fonts/QuentinEF.woff') format('woff'), url('../fonts/QuentinEF.ttf') format('truetype'), url('../fonts/QuentinEF.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'futurabc';
	src: url('../fonts/FUTURABC.eot');
	src: local('☺'), url('../fonts/futurabc.woff') format('woff'), url('../fonts/futurabc.ttf') format('truetype'), url('../fonts/futurabc.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'futura-book';
	src: url('../fonts/futura-book.eot');
	src: local('☺'), url('../fonts/futura-book.woff') format('woff'), url('../fonts/futura-book.ttf') format('truetype'), url('../fonts/futura-book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	-webkit-print-color-adjust: exact;
}

body,
button,
input,
select,
textarea,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'futura-book', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'futurabc', serif;
	text-transform: uppercase;
}

h3 {
	font-weight: 700;
	margin: 0;
	font-size: 1.1em;
}

.clear {
	clear: both;
	display: block;
	height: 0;
}

.entry-title {
	font-size: 1.4em !important;
}

.sheet-top {
	padding-bottom: 1em;
}

.character-overview {
	width: 50%;
	float: left;
	margin: 0;
}

.character-summary-block {
	font-size: .9rem;
}

.character-portrait {
	float: right;
	margin: 0 0 2em 2em;
	width: 40%;
	display: block;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	border: 1px solid #000;
}

ul.stat-list,
ul.stat-list li {
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.stat-list li:nth-child(odd) {
	background-color: #ddd;
}

ul.stat-list li {
	padding: 0 1em;
}

.site-header {
	margin-bottom: 2em;
}

.site,
#page {
	margin: 0 auto;
}

.single-post header {
	padding: 0;
	margin: 0;
}

.single-post .site-title {
	display: none;
}

.site-branding,
.site-title {
	font-family: 'QuentinEF', serif;
	font-weight: 400 !important;
	text-transform: uppercase;
}

.horz-table {
	width: 100%;
}

.horz-table th {
	border: 1px solid #000;
	background-color: #ccc;
	text-align: center;
}

.horz-table td {
	border: 1px solid #000;
	text-align: center;
}

.save-table {
	width: 100%;
}

.stat-box {
	margin: 1em 0;
}

.field-label {
	text-transform: uppercase;
}

.field-value {
	font-style: italic;
	text-transform: capitalize;
}

.post-edit-link {
	display: none;
}

.weapon-details {
	margin-bottom: 2em;
}

.ability-scores-area,
.saving-throw-area {
	float: left;
}

.ability-scores-area {
	width: 65%;
}

.saving-throw-area {
	width: 35%;
}

.ability-scores-table {
	width: 100%;
	margin-bottom: .5em;
}

.ability-scores-table td {
	vertical-align: middle;
}

.ability-container {
	display: block;
	float: left;
	width: 12%;
}

.ability-value-cell {
	font-family: 'IM Fell English', serif;
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
    border: 2px solid #000;
    height: 1.2em;
    width: 2.7em;
    line-height: 0;
}

.ability-label-cell {
	font-family: 'IM Fell English', serif;
    font-size: 1.5em;
    text-align: left;
    padding-left: .5em;
    width: 3em;
    line-height: 0;
    padding-top: .3em;
}

.ability-details-cell {
	font-size: .7em;
}

.save-value-cell {
    font-size: 1.5em;
    height: 1.5em;
    width: 1.5em;
    background-color: #000;
    border: 1px solid #000;
    display: block;
	border: 3px solid #000;
}

.save-value-inner {
    font-family: 'IM Fell English', serif;
    font-size: 1em;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 1.2em;
}

.saves-table {
	margin: 0;
	padding: 0;
}

.saves-table td {
	margin: 0;
	padding: 0;
}

td.save-label-cell {
	font-family: 'Corben', cursive;
	font-weight: 700;
	padding-left: .8em;
    vertical-align: middle;
    font-size: .6em;
    line-height: 1.6em;
	width: 100%;
}

.save-pad-cell {
	 height: .5em;
	 background-color: #000;
}

.defense-detail-table {
	width: 100%;
	margin-top: 1.5em;
}

.defense-detail-ac {
	text-align: center;
	font-size: 1.5em;
	font-family: 'Corben', cursive;
	font-weight: 700;
	width: 10%;
}

.defense-detail-adj-ac,
.defense-detail-armor {
	font-size: .8em;
}

.defense-detail-adj-ac {
	width: 35%;
}

.defense-detail-armor {
	width: 55%;
}

.defense-detail-table th {
	text-align: left;
}

.defense-detail-table td {
	border: 2px solid #000;
	vertical-align: top;
}

.hit-points-table {
	width: 25%;
	float: right;
}

[v-cloak] {
	display: none;
}

@media print {
	#secondary {
		display: none;
	}

	.singular .site-main {
		margin: 0;
	}

	.character-portrait {
		margin: 0;
	}
}