@font-face {
	font-family: 'QuentinEF';
	src: url('../fonts/QuentinEF.eot');
	src: local('☺'), url('../fonts/QuentinEF.woff') format('woff'), url('../fonts/QuentinEF.ttf') format('truetype'), url('../fonts/QuentinEF.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'futurabc';
	src: url('../fonts/FUTURABC.eot');
	src: local('☺'), url('../fonts/futurabc.woff') format('woff'), url('../fonts/futurabc.ttf') format('truetype'), url('../fonts/futurabc.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'futura-book';
	src: url('../fonts/futura-book.eot');
	src: local('☺'), url('../fonts/futura-book.woff') format('woff'), url('../fonts/futura-book.ttf') format('truetype'), url('../fonts/futura-book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body,
button,
input,
select,
textarea,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'futura-book', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'futurabc', serif;
	text-transform: uppercase;
}

h3 {
	font-weight: 700;
	margin: 0;
	font-size: 1.1em;
}

.clear {
	clear: both;
	display: block;
	height: 0;
}

.entry-title {
	font-size: 1.4em !important;
}

.character-overview {
	margin: 0 auto;
	width: 300px;
}

@media screen and ( min-width: 45em ) {
	.character-overview {
		float: left;
		margin: 0;
		width: 50%;
	}
}

.character-portrait {
	display: block;
	max-width: 300px;
	margin: 0 auto;
	-webkit-filter: grayscale(100%);
  	filter: grayscale(100%) ;
}

@media screen and ( min-width: 45em ) {
	.character-portrait {
		float: right;
		margin: 0 0 2em 2em;
		width: 40%;
	}
}

ul.stat-list,
ul.stat-list li {
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.stat-list li:nth-child(odd) {
	background-color: #ccc;
}

ul.stat-list li {
	padding: 0 1em;
}

.site-header {
	margin-bottom: 2em;
}

.site,
#page {
	margin: 0 auto;
}

.single-post header {
	padding: 0;
	margin: 0;
}

.single-post .site-title {
	display: none;
}

.site-branding,
.site-title {
	font-family: 'QuentinEF', serif;
	font-weight: 400 !important;
	text-transform: uppercase;
}

.horz-table {
	width: 100%;
}

.horz-table th {
	border: 1px solid #000;
	background-color: #ccc;
	text-align: center;
}

.horz-table td {
	border: 1px solid #000;
	text-align: center;
}

.save-table {
	width: 100%;
}

.stat-box {
	margin: 1em 0;
	padding: .5em;
}

@media screen and ( min-width: 45em ) {
	.thac0-table {
		float: left;
		width: 50%;
	}

	.thac0-table-right th:first-child,
	.thac0-table-right td:first-child {
		border-left: 0 none;
	}
}

.thac0-tableL {
	clear: both;
}

.field-label {
	text-transform: uppercase;
}

.field-value {
	font-style: italic;
	text-transform: capitalize;
}

.post-edit-link {
	display: none;
}

.weapon-details {
	margin-bottom: 2em;
}


.thac0-key-table {
	display: none;
}

.thac0-key-table td {
	border: 1px solid #000;
	text-align: center;
	padding: 0 1em;

}

.thac0-table-left {
	clear: both;
}

.thac0-key-table td:nth-child(1) {
	border: 0 none;
}

.thac0-key-table td:nth-child(2) {
	background-color: #ccc;
}

.weapon-roll-table h3 {
	font-size: 1.1em;
	margin: 0;
}

@media screen and ( min-width: 45em ) {
	.weapon-roll-table h3 {
		float: left;
		margin: 0;
	}

	.thac0-key-table {
		display: table;
		width: initial;
		font-size: .8em;
		margin-top: 0;
		float: right;
	}
}
